body {
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  color: #28111e;
  display: flex;
  justify-content: center;
}

.music-player {
  height: 100vh;
  width: 60vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



/* Player */
.player {
  width: 466px;
  height: 711px;
  background: rgba(245, 245, 245, 0.75);
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

/* Album thumbnail */
.showcase {
  display: flex;
  justify-content: center;
  transform: translate(-5%, 0);
}

.artist {
  height: 258.02px;
  width: 258.02px;
  padding-top: 40px;
  z-index: 2;
}

.vinyl {
  position: absolute;
    right: 10px;
    z-index: 1;
    padding-top: 40px;
    height: 242.36px;
    width: 258.2px;
}

/* Info Text */

.info {
  text-align: center;
}

.song h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-style: normal;
}
.artistname h1 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.seeker {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  position: relative;
}

.time {
  width: 385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

/* Seeker Bar */

.bar {
    width: 385px;
    position: relative;
  }
  

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 3px;
    background: white;     
    z-index: 1;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 3px;
    width: 0;
    background: #56255C;
    pointer-events: none;
    user-select: none;
    z-index: 2;
  }
  
  .bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px; 
    height: 22px;
    background: #56255C; 
    border-radius: 50%;
    border: 5px solid #56255C;
    z-index: 5;
    
  }

  

.controls {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.control-button {
  background: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.control-button:hover, .control-button-pp:hover {
  transform: scale(1.1);
}

.control-button-pp {
  left: 100px;
  background: none;
  border: none;
}
.play-pause {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #96385A 0%, #66255D 100%);
  ;
  border-radius: 50%;
}

.explore-container{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
}

.explore {
  height: 711px;
}

.header h1{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}


.navigation h1 {
  margin-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

nav {
  display: flex;
}

.explore-container .navigation nav h1.active {
  font-weight: bold; 
}


.nav-content {
  width: 500px;
  height: 528px;
}

.nav-content p {
  text-align: left;
  font-size: 16px;
  margin: 3px;
  padding-left: 7px;
}

a {
  color: inherit;
  text-decoration: none;
}

#lyrics-content {
  overflow-y: scroll;
  white-space: nowrap;
  max-height: 500px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.52%, rgba(255, 255, 255, 0) 100%);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  text-fill-color: transparent;


}

#lyrics-content p{
  width: 20px;
}

#albums-content img, #artist-content img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#albums-content, #artist-content {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  max-height: 300px; 
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#albums-content::-webkit-scrollbar {
  display: hidden; /* For Chrome, Safari, and Opera */
}

.inactive {
  display: none;
}

